<template>
  <div class="">
    <md-app>
      <md-app-toolbar>
        <span class="md-title">Dynamic tabs</span>
        <!-- <md-button class="md-raised md-primary" v-on:click="resetTabs">Reset Tabs</md-button> -->
      </md-app-toolbar>
      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          Navigation
        </md-toolbar>

        <md-list>
          <md-list-item v-for="menu in menus" :key="menu.title" v-on:click="openTab(menu)">
            <md-icon>{{menu.icon}}</md-icon>
            <span class="md-list-item-text">{{menu.label}}</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <Tabs :tabs="tabs" :activeTab="activeTab"/>
      </md-app-content>
    </md-app>
       
  </div>
</template>
<script>
import Tabs from './Tabs.vue'
export default {
  name: 'Home',
  data:()=>{
    return {
        tabs:[
          {id:'home-tab',label:'Home',component:'Test'}
        ],
        activeTab:'home-tab',
        menus:[
          {id:'inbox',icon:'move_to_inbox',label:'Inbox',component:'Inbox'},
          {id:'sent',icon:'send',label:'Sent Mail',component:'Sent'},
          // {id:'trash',icon:'delete',title:'Trash',component:'Trash'},
          // {id:'spam',icon:'error',title:'Spam',component:'Spam'}
        ]
    }
  },
  components:{
    Tabs
  },
  methods:{
    openTab(menu){
      this.activeTab = menu.id;
      if(this.tabs.filter(m=>m.id==menu.id).length == 0){
        this.tabs.push({id:menu.id,label:menu.label,component:menu.component});
      }
    },
    resetTabs(){
      this.tabs = [{id:'home-tab',label:'Home',component:'Test'}];
    }
  }
  }
</script>


