<template>
     <md-tabs :md-active-tab="activeTab">
         <!-- <template slot="md-tab" slot-scope="{ tab }">
            {{ tab.label }} <md-icon v-on:click="closeTab(tab)">close</md-icon>
        </template> -->
          <md-tab v-for="tab in tabs" :key="tab.id" :id="tab.id" :md-label="tab.label">
              <component v-bind:is="tab.component"></component>
          </md-tab>
     </md-tabs>
</template>
<script>
import Test from './Test.vue'
import Sent from './Sent.vue'
import Inbox from './Inbox.vue'

export default {
    name:'Tabs',
    props:{tabs:Array,activeTab:String},
    components:{
        Test,Sent,Inbox
    },
    methods:{
        closeTab(tab){
            console.log(tab);
        }
    }
    
}
</script>

