<template>
    <div>
        <md-app-toolbar>
        <span class="md-title">{{title}}</span>
      </md-app-toolbar>
    </div>
</template>

<script>
export default {
    name:'ToolBar',
    props:{
        title:String
    }
}
</script>
